RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php/$1 [L]


# Disable directory browsing 
# Options -Indexes
# RewriteRule (^|/)app|config|core|Commands|vendor(/|$) - [F]



ErrorDocument 400 /jzcode/_errors/400
ErrorDocument 401 /jzcode/_errors/401
ErrorDocument 403 /jzcode/_errors/403
ErrorDocument 404 /jzcode/_errors/404
